.background {
    background-color: #0000;
    background-size: cover;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-label .required {
    color: red;
}

.glassy-form-container {
    background: rgb(118 108 108 / 20%);
    top: 50px;
    position: relative;
    width: 40%;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.forgot_text{
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.sign_up_text{
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.glassy-form {
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
}

.section-b {
    margin: 5px;

    .input {
        padding: 20px;
        border: #000 !important;
        border-radius: 10px;
        background: #111111 !important;
        width: 95%;
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white !important;
    }
    mat-error {
        max-width: 100%; /* Set the max-width for error messages */
        display: block; /* Ensure error message is displayed as a block element */
        color: antiquewhite !important;
        text-align: center; /* Center the error message */
    }
}

mat-label {
    font-weight: 500;
    color: #fff;
}

.disflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px 15px 0px !important;
}

.disBut {
    font-size: 17px;
    padding: 20px;
    background: #111111 !important;
    border: 1px solid #111111;
    // box-shadow: 0 0 10px rgb(186 173 173 / 50%)
    font-weight: 600;
    color: white;
}

.star {
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    animation: twinkling 3s infinite, animateBg 50s linear infinite;

}
.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle-button {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: red; /* Set the color of the button to red */
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer;
}

.password-toggle-button:focus {
    outline: none; /* Remove focus outline */
}


@for $i from 1 through 80 {
    .star:nth-child(#{$i}) {
        left: random(100) + vw;
        top: random(100) + vh;
    }
}


@keyframes twinkling {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media screen and (max-width:426px)  {
    .background{
        height: 140vh;
    }
    .glassy-form-container {
        width: 90%;
        height: 100vh;
        top: 0;
        padding: 5px;
    }
    .section-b {   
        .input {
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            line-height: 15px;
        }
        mat-select{
            width: 95% !important;
        }
    }
    .glassy-form {
        padding: 20px;
    
        form {
            h2 {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
    mat-label {
        font-size: 16px;
    }
    .header{
        img{
            width: 10rem !important;
            height: 3rem !important;
        }
    }
    .password-toggle-button {
        right: 10px;
    }
}

@media screen and (min-width:427px) and (max-width:769px)  {
    .background{
        height: 130vh;
    }
    .glassy-form-container {
        width: 70%;
        height: 100vh;
        top: 0;
    }
    .section-b {   
        .input {
            padding: 15px;
            border-radius: 5px;
            width: 100%;
            line-height: 15px;
        }
        mat-select{
            padding: 15px;
            width: 100% !important;
        }
    }
    .glassy-form {
        padding: 20px;
        form {
            h2 {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
    mat-label {
        font-size: 16px;
    }
    .password-toggle-button {
        right: 10px;
    }
}
@media screen and (min-width:770px) and (max-width:1024px) {
    .background{
        height: 130vh;
    }
    .glassy-form-container {
        width: 40%;
        height: 90vh;
        top: 0;
    }
    .section-b {   
        .input {
            padding: 15px;
            border-radius: 5px;
            width: 100%;
            line-height: 15px;
        }
        mat-select{
            padding: 15px;
            width: 100% !important;
        }
    }
    .glassy-form {
        padding: 20px;
        form {
            h2 {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
    mat-label {
        font-size: 18px;
    }
    .password-toggle-button {
        right: 10px;
    }
}