<p>sign-up-otp works!</p>
<div class="background">
    <div class="glassy-form-container">
      <div class="glassy-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="header" style="text-align: center;"><img src="assets\med.png" style="width: 14rem;height: 5rem;"></div>
          <h2 class="header" style="text-align: center;color: #fff;font-weight: 600;">Enter OTP</h2>
          <div class="section-b col-md-12">
            <mat-label>Enter OTP</mat-label>
            <input class="input" type="text" name="otp" matInput formControlName="otp" maxlength="6" pattern="[0-9]*" required>
            <mat-error style="color: antiquewhite !important;">{{ getOtpErrorMessage() }}</mat-error>
          </div>
          <div class="disflex">
            <button class="resend-btn" mat-flat-button color="primary" (click)="resendOTP()" [disabled]="!resendEnabled">{{ resendButtonText }}</button>
          </div>
          <div class="disflex">
            <button class="disBut" mat-flat-button color="danger" routerLink="/auth/signUp"
            type="submit">{{'Back' |
            uppercase}}</button>
            <button [disabled]="form.invalid" class="disBut ml-3" mat-flat-button color="primary" type="submit">{{'Check OTP' | uppercase}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  