<div class="chat-container">
    <div class="live-chat-heading">
        <i class="material-icons">message</i>LIVE CHAT
    </div>
    <div class="messages" #messagesContainer>
        <ng-container *ngFor="let message of messages">
            <div [ngClass]="{'my-message': message.name === userName, 'other-message': message.name !== userName}">
                <div class="message">
                    <div class="message-header">
                        <img class="avatar" [src]="message.senderIconUrl || './assets/chatprofileicon.png'"
                            alt="{{ message.senderName }}">
                        <span class="name">{{ message.name }}</span>
                        <span class="timestamp">{{ message.createdAt | relativeTime }}</span>
                    </div>
                    <p>{{ message.text }}</p>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="isLoggedInEmail; else notLoggedIn" class="input-container">
        <div class="input-wrapper">
            <input type="text" [(ngModel)]="message" (keydown.enter)="sendMessage()" placeholder="Type your message...">
            <button (click)="sendMessage()">
                <i class="material-icons">send</i>
            </button>
        </div>
    </div>
    <ng-template #notLoggedIn>
        <p class="NotLogin">Login Need to Must </p>
    </ng-template>

</div>