<div class="row">
  <nav class="navbar col-12" style="position: fixed;
  width: 100%;
  z-index: 1000;">
    <div (click)="refreshPage()" class="logo cursor-pointer"><img src="assets/medstream.svg" style="width: 12rem;"
        alt="Medstream 360 logo" /></div>

    <ul class="nav-links">

        <li>
          <input type="checkbox" id="checkbox_toggle" [(ngModel)]="hamburg" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        </li>
        <li></li>

      <ul class="menu" id="menu-nav">
          <!-- <li class="services">
          <a href="javascript:void(0)" routerLink='/user/all-cases'>Home</a>
        </li> -->
          <li><a class="sidenav-link-text" routerLink='/user/landing' routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" (click)="hamburg=false">Home</a></li>
          <li class="sidenav-link-text vertical-bar"><a href="javascript:void(0)" routerLink='/user/schedule'
              routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="hamburg=false">Schedule</a>
          </li>
          <li><a class="sidenav-link-text vertical-bar" routerLink='/user/all-cases' routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" (click)="hamburg=false">All Cases</a></li>

          <!-- <li class="vertical-bar"><a href="javascript:void(0)"> Experts</a></li> -->
          <!-- <li><a class="sidenav-link-text vertical-bar" routerLink='/user/experts'  routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Experts</a></li> -->
          <li><a class="sidenav-link-text vertical-bar" routerLink='user/operators' routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" (click)="hamburg=false">Operators</a></li>
          <li><a class="sidenav-link-text vertical-bar" routerLink='user/institution' routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" (click)="hamburg=false">Institutions</a></li>
          </ul>
    </ul>
    <!-- <div> -->
    <!-- <div class="search-container mr-2" >
        <div class="normal-search">
          <input type="text" class="search" (keyup)="globalSearch($event)"  [(ngModel)]="searchFilter" name="" id="" placeholder="Search..">
          <mat-icon class="search-icon">search</mat-icon>
        </div>
      </div> -->
    <div class="search-container mr-2" *ngIf="isAllCasesRoute()">
      <div class="normal-search">
        <input type="text" class="search" (keyup)="globalSearch($event)" [(ngModel)]="searchFilter" name="" id=""
          placeholder="Search..">
        <mat-icon class="search-icon cursor-pointer">search</mat-icon>
      </div>
    </div>

    <div [matMenuTriggerFor]="menu" *ngIf="loggedIn">
      <mat-icon style="cursor: pointer;" role="button" aria-label="view profile">person</mat-icon>
      <mat-menu #menu="matMenu">
        <div class="matMenu" style="cursor: default;">
          <div class="user-info disFlex">
            <mat-icon>person</mat-icon><span>{{ userdata.name }}</span>
          </div>
          <div class="user-info disFlex">
            <mat-icon>schedule</mat-icon><span>{{ userdata.region }}</span>
          </div>

          <div class="user-info disFlex">
            <mat-icon>email</mat-icon><span>{{userdata.email}}</span>
          </div>

          <div class="disFlex cursor-pointer" (click)="logout()">
            <mat-icon>logout</mat-icon><span>Logout</span>
          </div>
        </div>
      </mat-menu>
    </div>
    <div [matMenuTriggerFor]="menu" *ngIf="!loggedIn">
      <!-- aria-label="person-icon" -->
      <mat-icon style="cursor: pointer;" role="button" aria-label="view profile">person</mat-icon>
      <mat-menu #menu="matMenu">
        <div class="matMenu">
          <div class="user-info disFlex" routerLink="/auth/login">
            <mat-icon>person</mat-icon><span>SignIn</span>
          </div>
          <div class="disFlex" routerLink="/auth/signUp">
            <mat-icon>person_add</mat-icon><span>SignUp</span>
          </div>
        </div>
      </mat-menu>
    </div>


    <!-- </div> -->

  </nav>
</div>