// .matCards{
//     background-color: beige;
// }
// .expsCards{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     background-color: beige;
// }
// .expsCard{
//     width: 31%; /* Adjust as needed */
//     margin-bottom: 20px;
// }
// .expsCard img {
//     width: 15rem;
//     height: 20rem;
// }

// .mainContainer{
//     display: flex !important;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
// }
.container{
    padding-top: 50px ;
    // background-color: aquamarine;
    width: 85vw;
}
.mr-40{
    margin-right: 40px !important;
}
.innercontainer{
    width: 100%;
    display: flex !important;
    justify-content: space-around;
}
.expsCard{
    max-width: 310px;
    // height: 474px;
    height: 400px;
    background-color: #2E2E2E;
    margin-bottom: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 0.2fr;
}
.filter_drp{
    background-color: #2E2E2E;
    color: white;
    // border: 1px solid;
    border-radius: 8px;
    padding: 6px;
    float: right;
    // margin-bottom: 12px;
}
.image{
    width: 310px;
    height: 270px;
}
mat-card-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
mat-card-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
mat-card-content{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
mat-card-content{
    padding: 0px !important;
}
.contBox{
    padding: 20px !important;
}
.icons{
    width: 50%;
    padding: 20px !important;
    font-size: 18px;
    display: flex !important;
    // align-items: flex-end;
    justify-content: space-between;
    a{
        // background-color: #fff;
        color: #fff !important;
    }
}
.icon{
    cursor: pointer;
}

@media screen and (max-width:426px) {
    .container{
        width: 95vw;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    .mr-40{
        margin-right: 0px !important;
    }
    .innercontainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full-width{
        width: 100% !important;
    }
    .expsCard{
        width: 100% ;
    }
    .image{
        width: 100%;
    }
}
.footerCont{
    margin-top: 30px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: white;
    color: white;
    .footerInner{
        // padding: 20px;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            a{
                color: #FF4E45;
                text-decoration: none;
            }
        }
    }
  }