<div class="mainContainer" style="    display: flex;justify-content: center;width: 100%;height: 100%;">
    <div class="container">
        <div class="">
            <div class="section-b col-4 mb-5 filter_drp full-width">
                <mat-select placeholder="Choose Institute" [formControl]="institutes" multiple (selectionChange)="applyTypeFilter()"
                (closed)="filteredInstituteList=instituteList">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search..." noEntriesFoundLabel="No institutuion found" aria-hidden="true"
                          (keyup)="onKey($event.target)">
                        </ngx-mat-select-search>
                      </mat-option>
                    <mat-option *ngFor="let row of filteredInstituteList" [value]="row._id">{{row.name}}</mat-option>
                </mat-select>
            </div>
            <div class="col-6"></div>
        </div>   
        <div class="innercontainer" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="40px" ngClass.gt-xs="ml-10">
            <mat-card style="color: #FFFFFF;" *ngFor="let ops of filterdOperators;  let i = index" class="expsCard cursor-pointer" fxFlex.sm="0 1 calc(50%-20px)" fxFlex.md="0 1 calc(33%-20px)" fxFlex.gt-md="0 1 calc(25%-20px)"  [ngClass]="{'mr-0': i === filterdOperators.length - 1}">
                <img (click)="routeToSingleOps(ops._id)" mat-card-image [src]="ops.avatar" class="image">
             <div class="contBox" (click)="routeToSingleOps(ops._id)">
                <mat-card-title>{{ops.name}} </mat-card-title>
                <!-- <i>{{ops.designation}}</i> -->
                <mat-card-subtitle>
                    {{ops.institution.name}}
                </mat-card-subtitle>
                <!-- <mat-card-content class="text-wrap-example">
                    {{ops.introduction}}
                </mat-card-content> -->
             </div>
            <!-- <div class="icons">
                <a *ngIf="ops.social_media_link?.fb" target="_blank" [href]="ops.social_media_link?.fb">
                  <fa-icon [icon]="facebook" class="icon"></fa-icon>
                </a>
                <a *ngIf="ops.social_media_link?.twitter" target="_blank" [href]="ops.social_media_link?.twitter">
                  <fa-icon [icon]="twitterX" class="icon"></fa-icon>
                </a>
                <a *ngIf="ops.social_media_link?.insta" target="_blank" [href]="ops.social_media_link?.insta">
                  <fa-icon [icon]="instagram" class="icon"></fa-icon>
                </a>
                <a *ngIf="ops.social_media_link?.linkedIn" target="_blank" [href]="ops.social_media_link?.linkedIn">
                  <fa-icon [icon]="linkedIn" class="icon"></fa-icon>
                </a>
            </div>  -->
            </mat-card>
          </div>
    </div>
</div> 

<!-- <div class="mainContainer" style="display: flex; justify-content: center; width: 100%; height: 100%;">
    <div class="container">
        <div class="innercontainer" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="40px" ngClass.gt-xs="ml-10">
            <mat-card style="color: #FFFFFF;" *ngFor="let ops of operators; let i = index" class="expsCard"
                fxFlex.sm="0 1 calc(50%-20px)" fxFlex.md="0 1 calc(50%-20px)" fxFlex.gt-md="0 1 calc(50%-20px)">
                <img mat-card-image [src]="ops.avatar" class="image">
                <div class="contBox">
                    <mat-card-title>{{ops.name}} </mat-card-title><i>{{ops.designation}}</i>
                    <mat-card-subtitle>
                        {{ops.institution.name}}
                    </mat-card-subtitle>
                    <mat-card-content class="text-wrap-example">
                        {{ops.introduction}}
                    </mat-card-content>
                </div>
                <div class="icons">
                    <a *ngIf="ops.social_media_link?.fb" target="_blank" [href]="ops.social_media_link?.fb">
                        <fa-icon [icon]="facebook" class="icon"></fa-icon>
                    </a>
                    <a *ngIf="ops.social_media_link?.twitter" target="_blank" [href]="ops.social_media_link?.twitter">
                        <fa-icon [icon]="twitterX" class="icon"></fa-icon>
                    </a>
                    <a *ngIf="ops.social_media_link?.insta" target="_blank" [href]="ops.social_media_link?.insta">
                        <fa-icon [icon]="instagram" class="icon"></fa-icon>
                    </a>
                    <a *ngIf="ops.social_media_link?.linkedIn" target="_blank" [href]="ops.social_media_link?.linkedIn">
                        <fa-icon [icon]="linkedIn" class="icon"></fa-icon>
                    </a>
                </div>
            </mat-card>
        </div>
    </div>
</div> -->

<div class="footerCont">
    <div class="footerInner">
        <hr>
        <p class="cursor-normal">© 2024, Medstream360, All Rights Reserved</p>
        <p class="cursor-normal">Powered by <a target="_blank" href="http://dharstec.com/">Dharstec</a></p>
    </div>
</div>

