// .grid-container {
//   display: grid;
//   grid-template-columns: 1fr 6fr;
//   height: 100vh;
//   background-color: #141414;
// }

// .small-column {
//   background: #2E2E2E;
//   padding: 20px;
//   margin: 20px;
// }

// .big-column {
//   background-color: #141414;
//   padding: 20px 0px 20px 0px;
// }

// .video-cards {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
// }

// .video-card {
//   width: 31%;
//   margin-bottom: 20px;
// }

// .video-card img {
//   width: 30rem;
//   height: 18rem;
// }

// mat-expansion-panel{
//   margin: 40px 0px 40px 0px;
// }

// hr {
//   border-color: #FF4E4566; 
//   margin: 10px 0px 10px 0px !important;
// }

// ---------------
.home_container{
  color: #fff !important;
  padding: 18px 48px;
  .get_started{
    margin-bottom: 40px;
    position: relative;
    // height: 85vh;
    .getStartedCont{
      position: absolute;
      top: 53%;
      left: 42%;
      .getStarted{
        border: 0px;
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        // line-height: 70px;
        letter-spacing: 0em;
      }
    }
  }

  .ads{
    margin-bottom: 40px;
  }
  .widget_accordion{
    border: 1px solid #606060;
    border-radius: 30px;
    margin-bottom: 40px;
    padding: 24px;
    .widget_header{
      display: flex;
      align-items: center;
      border-bottom: 1px solid #606060;
      margin-bottom: 8px;
    }
    .media_list{
      display: flex;
      align-items: center;
      .icon{
        color: #FF4E45;
        font-size: 40px;
        margin-right: 18px;
      }
    }
  }
  .videos_accordion{
    display: flex;
    .top_video_widget{
      background-color: #2E2E2E;
      border-radius: 30px;
      margin-right: 20px;
      margin-bottom: 40px;
      padding: 24px;
      .widget_header{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #606060;
        margin-bottom: 8px;
      }
      .grid_style{
        border-right: 1px solid #606060 ;
        margin-right: 12px;
      }
      .grid_border_none{
        border: none !important;
        margin-left: 12px;
      }
    }
  }
}
.flex_align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel_btn{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  border: none;
}
.carousel_active{
  background-color: #FF4E45 !important;
}
.grid_list{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.case_title{
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin: 5px 0px 5px 0px;
}
.week_style{
  color: #FFFFFF80;
  font-weight: 600;
  font-size: 14px;
}

// .map {
//   // filter: grayscale(100%);    
//   // background-color:#FFFFFF80;     
// }

.red_text{
  cursor: pointer;
  color: #FF4E45 !important;
}
.cur_pointer{
  cursor: pointer !important;
}

.schedule_flex{
  display: flex;
}



.container {
  // background-color: white;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  // background-color: aquamarine;
  height: 90vh;
  width: 95vw;
  border-radius: 25px;
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  // background-color: darkcyan;
}

.imgDiv {
  width: 100%;
  height: 100%;
  // position: relative;
}

.imgDiv img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.content {
  // z-index: -1;
  position: absolute;
  top: 0;
  color: white;
  height: 100%;
  width: 100%;
  // background-color: black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  
}

.textBox {
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.hd1 {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.hd2 {
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.80);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
}

.getStarted {
  margin-top: 30px;
  width: 266px;
  height: 61px;
  flex-shrink: 0;
  // background: linear-gradient(180deg, rgba(26, 26, 26, 0.92) 0%, rgba(28, 28, 28, 0.92) 2.08%, rgba(255, 78, 69, 0.92) 48.44%);
  background-color: #FF4E45;
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 120px;
}

// .getStarted button {
//   color: #000;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 70px;
//   text-transform: uppercase;
//   width: 100%;
//   background: none;
//   border: none;
//   text-align: center;
// }

.container{
  margin-top: 30px;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: white;
  color: white;
  .innercontainer{
      // padding: 20px;
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
          a{
              color: #FF4E45;
              text-decoration: none;
          }
      }
  }
}


@media (max-width: 768px) {
 .videos_accordion{
  display: block !important;
 }
}

/* APPLYING MEDIA QUERIES */


@media screen and (min-width:1000px) and  (max-width: 1100px)  {
  .case_title{
    font-size: 12px !important;
  }
}

@media screen and (min-width:425px) and  (max-width: 768px)  {
  .case_title{
    font-size: 12px !important;
  }
  // .videos_accordion{
  //   display: block !important;
  // }
}

@media screen and (min-width:768px) and  (max-width: 1024px)  {
  .case_title{
    font-size: 12px !important;
  }
  .videos_accordion{
    display: block !important;
    // overflow: auto;
    // max-height: ;
  }
  .col-md-8 {
   width: 100%;
  }
  .col-md-4{
    width: 100%;
  }
}

@media (max-width: 650px)  {
  .home_container{
    // color: #fff !important;
    padding: 18px 20px !important;
    .top_video_widget{
      margin-right: 0px !important;
    }
  }
  .case_title{
    font-size: 12px !important;
  }
  .media_list{
    display: block !important;
  }
  .grid_list{
    display: block !important;
    .grid_style{
      border: none !important;
      border-right: none !important;
      margin-bottom: 12px !important;
    }
    .grid_border_none{
      margin: 0 0 12px 0 !important;
    }
  }
}


@media screen and (min-width:320px) and (max-width:400px) {
  .home_container{
    .get_started{
      .getStartedCont{
        top: 40%;
        left: 35%;
        .getStarted {
          margin-top: 30px;
          width: 80px;
          height: 25px;
          border-radius:7px;
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
  }
}
@media screen and (min-width:400px) and (max-width:500px) {
  .home_container{
    .get_started{
      .getStartedCont{
        top: 40%;
        left: 37%;
        .getStarted {
          margin-top: 30px;
          width: 80px;
          height: 25px;
          border-radius:7px;
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (min-width:500px) and (max-width:600px){
  .home_container{
    .get_started{
      .getStartedCont{
        top: 48%;
        left: 40%;
        .getStarted {
          margin-top: 30px;
          width: 100px;
          height: 30px;
          border-radius:7px;
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
  }

}

@media screen and (min-width:600px) and (max-width:768px) {
  .home_container{
    .get_started{
      .getStartedCont{
        top: 47%;
        left: 42%;
        .getStarted {
          margin-top: 30px;
          width: 120px;
          height: 35px;
          border-radius:10px;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
