  <div class="home_container">
    <div class="grid_list ">
      <ng-container *ngFor="let list of members;let i=index">
        <div class="col-12 card_style" style="border: 1px solid #fff;">
          <mat-card class="" >
            <div class="mr-2 cur_pointer" (click)="selectContinent(list)">
              <div class="flex_align">
                <img class="col-7" [src]="list.url" alt="Video Thumbnail">
                <div class="mb-3">
                  <p class="case_title flex_align">{{ list.title }}</p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="footerCont">
    <div class="footerInner">
        <p>© 2024, Medstream360, All Rights Reserved</p>
        <p>Powered by <a target="_blank" href="http://dharstec.com/">Dharstec</a></p>
    </div>
</div>
 
  
  
  
  

  
  