.grid-container {
    display: grid;
    padding: 12px;
    grid-template-columns: 1fr 6fr; /* Two columns: 1 small and 2 big */
    // height: 100vh; /* Full viewport height */
    background-color: #141414;
  }
  
  .small-column {
    background: #2E2E2E;
    padding: 20px;
    margin: 20px;
    position: sticky;
    top: 107px;
    .filter_list{
      margin-bottom: 8px;
      color: #ffffff;
      display: flex;
    }
  }

  
  .big-column {
    background-color: #141414;
    padding: 20px 0px 20px 0px;
  }
  
  .video-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer !important;
  }
  
  .video-card {
    width: 31%; /* Adjust as needed */
    margin-bottom: 20px;
  }
  .case_title{
    color: white;
    font-weight: 600;
    margin: 5px 0px 5px 0px;
    width: 100%;
  }
  
  .video-card img {
    // width: 22rem;
    // height: 18rem;
    width: 100%;
  }
  .clear_filter{
    padding: 0 24px;
    float: right;
    color: #FFFFFF80;
    text-decoration: underline;
    cursor: pointer;
}
.sticky_sideNav{
  position: sticky;
  top: 125px;
  display: inline-block;
  overflow-x: auto;
  max-height: calc(100vh - 100px)
}
  
  mat-expansion-panel{
    margin: 40px 0px 40px 0px;
  }
  mat-expansion-panel-body{
    padding: 0px 24px;
  }

  ::ng-deep .mat-calendar-content{
    background-color: #fff;
  }
  ::ng-deep .mat-datepicker-content-container{
    background-color: #fff;
  }
  
  hr {
    border-color: #FF4E4566; /* Set the color you want, e.g., red */
    margin: 10px 0px 10px 0px !important;
  }

  mat-checkbox{
    display: flex;
    align-items: flex-start;
  }

  .red_txt{
    color: #FF4E45;
  }
  .footerCont{
    // margin-top: 30px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: white;
    color: white;
    .footerInner{
        // padding: 20px;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            a{
                color: #FF4E45;
                text-decoration: none;
            }
        }
        hr {
          border-color: #606060; // Set border color to white
          border-width: 1px 0 0; // Set border width and style
          width: 100vw; // Set width to fill the container
        }
    }
  }


  
@media screen and (min-width:1024px)  {
  .sticky_sideNav{
    display: block !important;
  }
  .hide_filter{
    display: none !important;
  }
}

@media screen and (min-width:426px) and  (max-width: 768px)  {
  .case_title{
    font-size: 12px !important;
  }
  .video-card {
    width: 46%; /* Adjust as needed */
  }
  // .videos_accordion{
  //   display: block !important;
  // }
  .sticky_sideNav{
    display: block !important;
  }
  .hide_filter{
    display: none !important;
  }
}

@media screen and (min-width:426px) and  (max-width: 700px)  {
  .case_title{
    font-size: 12px !important;
  }
  .video-card {
    width: 100%; /* Adjust as needed */
  }

}

@media screen and (min-width:768px) and  (max-width: 1024px)  {
  .case_title{
    font-size: 12px !important;
  }
  .videos_accordion{
    display: block !important;
    // overflow: auto;
    // max-height: ;
  }
  .col-md-8 {
   width: 100%;
  }
  .col-md-4{
    width: 100%;
  }

  .sticky_sideNav{
    display: block !important;
  }
  .hide_filter{
    display: none !important;
  }
}

@media (max-width: 426px)  {
  .grid-container {
    display: block;
    .small-column {
      background: #2E2E2E;
      padding: 20px;
      margin: 20px;
      position: sticky;
      top: 96px;
      // height: 100vh;
    }
    .big-column {
     margin: 20px;
    }
    .video-card {
      width: 100%; /* Adjust as needed */
    }
    // grid-template-columns: -1fr 6fr !important; /* Two columns: 1 small and 2 big */
  }
}