<div class="grid-container">
    <div class="small-column">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #FFFFFF80;
          ;font-weight: 500;">
            {{'Category' | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr/>
        <ng-container *ngFor="let list of categoryList">
          <mat-checkbox class="filter_list" [checked]="list.active" (click)="changeCategoryFilter(list,$event)">{{list.category}}</mat-checkbox>
          <!-- <p class="filter_list">{{list.category}}</p> -->
        </ng-container>
        
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #FFFFFF80;
          ;font-weight: 500;">
            {{'subCategory' | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr/>
        <ng-container *ngFor="let list of subCategoryList">
          <mat-checkbox class="filter_list" [checked]="list.active"  >{{list.name}}</mat-checkbox>
          <!-- <p class="filter_list">{{list.category}}</p> -->
        </ng-container>
        
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #FFFFFF80;
          ;font-weight: 500;">
            {{'Date Range' | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr/>
        <mat-form-field>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 disabled></mat-datepicker>
          <input matInput [matDatepicker]="picker1" placeholder="DD/MM/YYYY">
        
        </mat-form-field>
        <mat-form-field>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled></mat-datepicker>
          <input matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY">
        
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #FFFFFF80;
          ;font-weight: 500;">
            {{'Experts' | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr/>
  
      </mat-expansion-panel>
    </div>
  
    <div class="big-column">
      <!-- Big column content goes here -->
      <div class="video-cards">
        <div *ngFor="let video of allCases" class="video-card" (click)="routeToSingleCase(video._id)">
          <img [src]="video.thumbnail" alt="Video Thumbnail">
          <p style="color: white;font-weight: 600;margin: 5px 0px 5px 0px;">{{ video.title }}</p>
          <p style="color: #FFFFFF80;
          ;font-weight: 600;">{{'Week of'}} {{ video.createdAt | date:'longDate' }}</p>
        </div>
      </div>
    </div>
  </div>